/* Error message styling */
.error {
  color: #ff4d4f;
  background-color: #ffe8e8;
  border: 1px solid #ff4d4f;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* Loading message styling */
.loading {
  color: #35B848;
  background-color: #e6f7ff;
  border: 1px solid #5ad86d;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

/* Container for items */
.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Item box styling */
.item-box {
  height: 30rem;
  position: relative;
  width: 100%;
}

/* Inner box for flip effect */
.inner-box {
  /* background-color: #ffffff;
  border: 1px solid #e0e0e0;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease; */
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  justify-content: center;
}

.inner-box.flipped {
  transform: rotateY(180deg);
}

/* Front and back faces of the flip box */
.item-box-front,
.item-box-back {
  /* position: absolute;
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden; */
  position: absolute;
    gap: 15px;
    text-align: center;
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
}

.item-box-back {
  transform: rotateY(180deg);
}

/* Image inside the item */
.item-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* Item name styling */
.item-name {
  font-size: 18px;
  font-weight: bold;
  color: #35B848;
  margin-bottom: 8px;
}

/* Item price styling */
.item-price {
  font-size: 16px;
  color: #59336E;
}

/* Header for the items section */
.item-header {
  margin: 100px auto 25px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #e0e0e0;
  width: 100%;
  max-width: 600px;
}

/* Responsive adjustments for tablets */
@media (min-width: 600px) {
  .item-box {
    width: calc(50% - 20px); /* Two items per row */
  }
}


/* Responsive adjustments for desktops */
@media (min-width: 900px) {
  .item-box {
    width: calc(33.33% - 20px); /* Three items per row */
  }
}

/* Additional adjustments for large screens */
@media (min-width: 1200px) {
  .item-box {
    width: calc(25% - 20px); /* Four items per row */
  }
}
