
.image-container {
    margin: 20px; 
}

.image-container img {
    width: 100%;
    max-width: 300px; 
    border-radius: 50%;
}

.text-container {
    gap: 15px;
    display: flex;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 15px auto;
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    border-radius: 1.5rem;
    justify-content: center;
 
}

.text-container span {
    font-weight: bold;
    color: #35B848; 
    font-family: "Kanit", sans-serif; 
    font-size: 45px; 
    line-height: 1.2em; 
    margin: 0; 
    display: inline-block; 
    text-shadow: 
      1px 1px 0 rgba(0, 0, 0, 0.2), 
      2px 2px 0 rgba(0, 0, 0, 0.2), 
      3px 3px 0 rgba(0, 0, 0, 0.2); 
}
.text-container span svg{
    font-size: 35px;
}


@media (max-width: 768px) {
    .image-container {
        margin: 15px;
    }

    .image-container img {
        max-width: 250px; 
    }

    .text-container {
    
        padding: 10px; 
        margin: 10px auto;
        border-radius: 1rem; 
    }

    .text-container span {
        font-size: 40px; 
    }
    .text-container span svg{
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .image-container {
        margin: 10px;
    }

    .image-container img {
        max-width: 200px;
    }

    .text-container {
        padding: 8px;
        margin: 8px auto;
        border-radius: 0.8rem; 
    }

    .text-container span {
        font-size: 30px;
    }
    .text-container span svg{
        font-size: 25px;
    }
}
@media (max-width: 260px) {
   

    .text-container  {
        width: 90%;
    }
    .text-container span {
        font-size: 20px; 
    }
    .text-container span svg{
        font-size: 15px;
    }
}